h2{
    color:crimson;
    background-color:black;

}
h1{
    color:darkgray;text-decoration:underline;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}